#User files
*.suo
*.user
*.userosscache
*.sln.docstates

bramkominatorMobile/*.suo
bramkominatorMobile/*.user
bramkominatorMobile/*.userosscache
bramkominatorMobile/*sln.docstates

#Visual Studio files
bramkominatorMobile/.vs/
bramkominatorMobile/obj/*.AssemblyReference.cache
bramkominatorMobile/bin/*AssemblyReference.cache

#NUnit
bramkominatorMobile/*.VisualState.xml
bramkominatorMobile/TestResults.xml
bramkominatorMobile/NUnitTests/obj/
bramkominatorMobile/NUnitTests/bin/

#Build results
bramkominatorMobile/[Dd]ebug/
bramkominatorMobile/[Dd]ebugPublic/
bramkominatorMobile/[Rr]elease/
bramkominatorMobile/[Rr]eleases/
bramkominatorMobile/x64/
bramkominatorMobile/x84/
bramkominatorMobile/[Bb]in/
bramkominatorMobile/[Oo]bj/
bramkominatorMobile/[Ll]og/

#macOS files
.DS_Store
